* {
  box-sizing: border-box;
  margin-left:0;
  padding: 0;
  background-color:rgb(32,33,36);
  color:white;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
}

.coin-search {
  margin-top: 64px;
  margin-bottom: 64px;
}

form input {
  background-color:white;
  width:500px;
  height:50px;
  text-align: center;
  font-size: 1.5rem;
  color:black;
}

.loadmore-button {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(29,155,240);
}

.loading {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:400px;
  gap:20px;
}

.currencyButtons {
  padding: 20px 84px 0px 0px;
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
}