.coin-container {
    display:flex;
    justify-content: center
  }
  
  .coin-row {
    height: 210px;
    border-bottom: 2px solid black;
    width:100%;
    margin-bottom: 3rem;
  }

  .coin {
      display: flex;
      align-items: center;
      min-width: 300px;
      margin-right:150px;
      margin-left: 80px;
  }

  .coin img {
      height:3rem;
      width:3rem;
      margin-right: 15px;
      margin-left: 10px;
      margin-bottom: 10px;
}

.coin h1 {
    font-size:2rem;
}

.coin-symbol {
    text-transform: uppercase;
    width:100%;
    font-size:1.5rem;
}

.coin-data {
    display:flex;
    text-align: center;
    justify-content: space-between;
    width:100%;
    padding-top: 70px;
}

.coin-price {
    width:100%;
    font-size:1.2rem;
}

.coin-percent {
    width: 100%;
    font-size:1.2rem;
}

.red {
    color:red;
}

.green {
    color:rgb(77, 221, 11);
}